./virtual
./migrations
*.pyc
__pycache__
*.pyo
*.pyd
.Python
db.sqlite3
.env
*.log
*.pot
*.py[cod]
*.swp
*.swo
*.bak
*.orig
financeapp/financeapp/__pycache__
finance_app/migrations/
financeapp/finance_app/__pycache__